.commerce-alphabank-redirect-icons .label {
  font-weight: bold;
  margin-right: 5px;
  padding-left: 19px;
}

.commerce-alphabank-redirect-icon {
  margin-right: 5px;
  position: relative;
  top: 6px;
}

@media print {
  body.page-checkout-complete {
    height: 800px !important;
    overflow: hidden;
  }

  body.page-checkout-complete .transaction-receipt {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  body.page-checkout-complete .transaction-receipt .transaction-receipt-actions {
    display: none;
  }
}
